Repository sunnypatneedi/voice101-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ui, pages, data, hooks, config, dependencies

Add debug logs for Netlify production error
  index.html
  src/main.tsx
Labels: none

docs: outline possible Netlify error causes
  docs/netlify-debugging.md
  index.html
  src/main.tsx
Labels: documentation

Merge main and add Netlify debugging docs
  docs/NETLIFY_DEBUG_GUIDE.md
  index.html
  package-lock.json
  package.json
  public/apple-touch-icon.png
  public/assets/images/apple-touch-icon-180x180.png
  public/assets/images/apple-touch-icon-180x180.webp
  public/assets/images/maskable-icon-192x192.png
  public/assets/images/maskable-icon-192x192.webp
  public/assets/images/maskable-icon-512x512.png
  public/assets/images/maskable-icon-512x512.webp
  public/manifest.json
  scripts/generate-pwa-assets.mjs
  src/App.test.tsx
  src/index.css
  src/main.tsx
  src/test/setup.ts
  src/utils/__tests__/example.test.ts
  vite.config.ts
  vitest.config.ts
Labels: documentation, ui, config, dependencies

test: enhance test coverage with error boundary and performance metrics mocks
  src/App.test.tsx
  src/test/setup.ts
Labels: none

refactor: simplify App test suite by removing complex test scenarios and mocks
  src/App.test.tsx
  src/components/ErrorBoundary.tsx
  src/components/__tests__/LoadingSpinner.test.tsx
  src/main.tsx
  src/utils/reactSafety.ts
  vite.config.ts
Labels: ui, config

fix: add dev script and properly stringify React DevTools hook config in Vite
  package.json
  vite.config.ts
Labels: config, dependencies

Checkpoint before assistant change: Update project dependencies and configuration for improved functionality
  .replit
  attached_assets/Pasted-Exited-with-code-16-output-Bun-s-lockfile-format-has-changed-from-bun-lockb-to-bun-lock-bun-in-1747535490133.txt
  bun.lockb
  package-lock.json
Labels: config, dependencies

Assistant checkpoint: Add Replit host to Vite allowed hosts list
  vite.config.ts
Labels: config

Checkpoint before assistant change: Change deployment configuration to serve static assets
  .replit
Labels: none

Checkpoint before assistant change: Configure the website to correctly route all requests to the main page
  .replit
Labels: none

Assistant checkpoint: Configure static deployment settings
  .replit
Labels: none

Checkpoint before assistant change: Provide guidance on troubleshooting 'forwardRef' error messages
  attached_assets/Pasted-The-error-message-TypeError-Cannot-read-properties-of-undefined-reading-forwardRef-indicates--1747536838259.txt
Labels: none

Assistant checkpoint: Fix React import and forwardRef configuration
  src/components/OptimizedImage.tsx
  src/main.tsx
  src/test/setup.ts
Labels: ui

Checkpoint before assistant change: Resolve issues preventing the website from building and displaying correctly
  attached_assets/Pasted-Error-Failed-to-scan-for-dependencies-from-entries-home-runner-workspace-index-html-home-run-1747536972693.txt
Labels: none

Assistant checkpoint: Fix duplicate React imports in OptimizedImage component
  src/components/OptimizedImage.tsx
Labels: ui

Checkpoint before assistant change: Investigate and resolve issues with React loading to improve app stability
  src/main.tsx
  src/utils/reactSafety.ts
Labels: none

fix forwardRef error
  .replit
  src/main.tsx
  src/utils/reactSafety.ts
Labels: none

Add logging for React availability
  src/main.tsx
  src/utils/reactSafety.ts
Labels: none

update main.tsx
  src/main.tsx
Labels: none

Checkpoint before assistant change: Improve the application's security by addressing potential vulnerabilities
  .replit
  attached_assets/Pasted-2-potential-vulnerabilities-found-Last-ran-on-8-20-pm-May-17-2025-Detected-potential-vulnerabili-1747538602232.txt
Labels: none

Assistant checkpoint: Fix XSS vulnerability in error display
  src/components/ErrorDisplay.tsx
  src/utils/reactSafety.ts
Labels: ui

Assistant checkpoint: Update React imports to use namespace imports
  src/main.tsx
  src/utils/reactSafety.ts
Labels: none

refactor: use namespaced React members
  src/main.tsx
Labels: none

.github/labeler.yml:

documentation:
  - README.md
  - '**/*.md'
  - docs/**/*

ui:
  - src/components/**/*
  - src/**/*.css
  - src/App.css
  - src/index.css

pages:
  - src/pages/**/*

data:
  - src/data/**/*

hooks:
  - src/hooks/**/*

config:
  - '*.config.js'
  - '*.config.ts'
  - tsconfig*.json
  - .github/**/*
  - package.json
  - package-lock.json

dependencies:
  - package.json
  - package-lock.json
  - bun.lockb
