Repository sunnypatneedi/voice101-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ui, pages, data, hooks, config, dependencies

Update README.md
  README.md
Labels: documentation

Fix Term Not Found issue by updating route parameter handling in TermDetail component
  netlify.toml
  src/pages/TermDetail.tsx
Labels: pages

Update README.md
  README.md
Labels: documentation

Fix Netlify deployment errors: MIME type configuration and manifest.json handling
  netlify.toml
  public/_headers
  public/_redirects
Labels: none

feat: initialize voice AI simulation studio with UI components and simulators
  .gitignore
Labels: none

feat: integrate simulator studio with iframe support and OG image generation
  index.html
  package-lock.json
  package.json
  public/assets/images/og-image.jpg
  scripts/generate-og-image.html
  scripts/generate-og-image.ts
  scripts/setup-sim-studio.ts
  src/App.tsx
  src/components/Navbar.tsx
  src/pages/SimulatorStudio.tsx
  vite.config.ts
Labels: ui, pages, config, dependencies

Fix Simulator Studio deployment and routing
  netlify.toml
  package.json
  scripts/build-sim-studio.sh
Labels: config, dependencies

refactor: remove unused files from project structure
  src/features/simulator-studio/components/LatencyTunerSimulator.tsx
  src/features/simulator-studio/components/MultiSpeakerMixerSimulator.tsx
  src/features/simulator-studio/components/PronunciationCoachSimulator.tsx
  src/features/simulator-studio/components/SeniorCareSimulator.tsx
  src/features/simulator-studio/components/StoryVoiceSimulator.tsx
  src/features/simulator-studio/components/TurnDetectorSimulator.tsx
  src/features/simulator-studio/lib/carousel.ts
  src/features/simulator-studio/pages/PronunciationCoach.tsx
  src/features/simulator-studio/pages/TurnDetector.tsx
  src/features/simulator-studio/pages/VoiceAssistantTester.tsx
Labels: none

chore: update deployment config and optimize build with code splitting
  index.html
Labels: none

chore: upgrade build system with chunk splitting and deployment config
  package-lock.json
  package.json
  scripts/build-sim-studio.sh
  src/features/simulator-studio/hooks/useMemoryRecall.ts
  src/features/simulator-studio/lib/carousel.ts
  vite.config.ts
  windsurf_deployment.yaml
Labels: config, dependencies

fix: update simulator-studio route to handle nested paths with wildcard pattern
  src/App.tsx
Labels: none

feat: add new simulator routes and update path mapping with /simulator-studio prefix
  src/features/simulator-studio/components/carousel/carouselUtils.ts
  src/pages/SimulatorStudio.tsx
Labels: pages

refactor: enhance audio recording with robust error handling and cleanup
  src/features/simulator-studio/components/transcriber/useAudioRecording.tsx
Labels: none

refactor: optimize QuickTalkState hook with memoization and TypeScript interfaces
  src/features/simulator-studio/components/quick-talk/useQuickTalkState.tsx
Labels: none

fix: update simulator chunk pattern to include all nested files in simulator-studio
  vite.config.ts
Labels: config

build: simplify build config by removing manual chunks and simulator scripts
  .windsurf/workflows/deploy.md
  netlify.toml
  package-lock.json
  package.json
  src/App.tsx
  src/pages/SimulatorStudio.tsx
  vite.config.ts
Labels: documentation, pages, config, dependencies

feat: improve error handling and optimize bundle chunking for vendor dependencies
  index.html
  src/main.tsx
  vite.config.ts
Labels: config

feat: enhance error handling with improved UI and polyfills across app
  index.html
  src/main.tsx
  vite.config.ts
Labels: config

chore: configure Netlify plugins and update asset paths for deployment
  index.html
  netlify.toml
  package.json
Labels: config, dependencies

feat: implement image optimization with WebP conversion and responsive loading
  package-lock.json
  package.json
  public/assets/images/image1.webp
  public/assets/images/image2.webp
  public/assets/images/image3.webp
  public/assets/images/image4.webp
  public/assets/images/image5.webp
  public/assets/images/logo.webp
  public/assets/images/og-image.webp
  public/lovable-uploads/1dbf347a-7bb8-451b-a32d-d25a5e9a4898.webp
  public/lovable-uploads/28a4d848-139a-4995-89ba-322e22a937cb.webp
  public/lovable-uploads/3837753b-0119-4619-bce0-230342fc8b64.webp
  public/lovable-uploads/4c0c723f-8662-4a59-999b-4a0fa66dbb19.webp
  public/lovable-uploads/aa7b6f31-c124-40a6-9461-9aaf71c122d3.webp
  public/lovable-uploads/f6027e6b-df90-4f04-8e8f-0bfb39dfe7a6.webp
  scripts/convertImages.mjs
  src/components/Navbar.tsx
  src/components/OptimizedImage.tsx
  src/components/OptimizedLogo.tsx
  src/pages/AdvancedConcepts.tsx
  src/pages/FoundationalTerms.tsx
  src/utils/imageUtils.ts
  vite.config.ts
Labels: ui, pages, config, dependencies

feat: add PWA support with offline caching and update notifications
  .windsurf/rules/react-rules.md
  .windsurf/workflows/retro.md
  package-lock.json
  package.json
  scripts/generate-pwa-assets.mjs
  src/App.tsx
  src/components/PWAUpdatePrompt.tsx
  src/hooks/index.ts
  src/hooks/usePerformanceMetrics.ts
  src/main.tsx
  src/service-worker-registration.ts
  vite.config.ts
Labels: documentation, ui, hooks, config, dependencies

feat: add beta banner and route configuration to Simulator Studio page
  src/pages/SimulatorStudio.tsx
Labels: pages

feat: enhance skeleton component with variants, shimmer effect and optimistic updates
  src/App.tsx
  src/components/Navbar.tsx
  src/components/command-palette.tsx
  src/components/ui/skeleton-demo.tsx
  src/components/ui/skeleton.tsx
  src/hooks/use-optimistic-update.ts
  src/pages/patterns-demo.tsx
  tailwind.config.ts
Labels: ui, pages, hooks, config

feat: enhance command palette with overlay and improve accessibility in skeleton component
  src/components/command-palette.tsx
  src/components/ui/skeleton.tsx
  src/hooks/use-optimistic-update.ts
Labels: ui, hooks

feat: enhance OG image generation with Puppeteer config and fallback handling
  netlify.toml
  package-lock.json
  package.json
  public/assets/images/og-fallback.jpg
  scripts/create-fallback-og-image.js
  scripts/generate-og-image.ts
Labels: config, dependencies

feat: add Puppeteer testing setup with Chrome installation on Netlify
  netlify.toml
  netlify/plugins/install-chrome.js
  package.json
  puppeteer-test.png
  scripts/test-puppeteer.js
Labels: config, dependencies

feat: add beta label and tooltip to Simulator Studio nav item
  netlify/plugins/install-chrome/index.js
  netlify/plugins/install-chrome/manifest.yml
  netlify/plugins/install-chrome/package.json
  src/components/Navbar.tsx
Labels: ui

feat: add PWA assets and simplify Chrome plugin manifest
  netlify/plugins/install-chrome/manifest.yml
  public/assets/images/logo-192x192.png
  public/assets/images/logo-512x512.png
  public/assets/images/og-fallback.webp
Labels: none

refactor: improve OG image generation with better error handling and timeouts
  netlify.toml
  netlify/plugins/install-chrome/index.js
  netlify/plugins/install-chrome/manifest.yml
  netlify/plugins/install-chrome/package.json
  package.json
  public/assets/images/logo-192x192.webp
  public/assets/images/logo-512x512.webp
  public/assets/images/og-image.jpg
  public/assets/images/og-image.webp
  puppeteer-test.png
  scripts/create-fallback-og-image.js
  scripts/generate-og-image.html
  scripts/generate-og-image.ts
  scripts/test-puppeteer.js
Labels: config, dependencies

chore: remove Cloudflare purge plugin and update build assets
  netlify.toml
  package-lock.json
Labels: config, dependencies

feat: enhance PWA caching with optimized service worker configuration
  package-lock.json
Labels: config, dependencies

Update Vite config for Netlify deployment
  package-lock.json
  package.json
  vite.config.ts
Labels: config, dependencies

refactor: optimize Vite config with improved chunking and compression strategies
  package-lock.json
  vite.config.ts
Labels: config, dependencies

fix: Update Netlify config and package.json to fix Sharp installation
  netlify.toml
  package.json
Labels: config, dependencies

fix: Simplify Netlify build configuration and remove postinstall script
  netlify.toml
  package.json
Labels: config, dependencies

chore: update all dependencies and clean up lock file
  package-lock.json
  package.json
Labels: config, dependencies

refactor: optimize Vite config with improved chunking and compression strategies
  package-lock.json
  package.json
  public/lovable-uploads/1dbf347a-7bb8-451b-a32d-d25a5e9a4898.png
  public/lovable-uploads/1dbf347a-7bb8-451b-a32d-d25a5e9a4898.webp
  public/lovable-uploads/28a4d848-139a-4995-89ba-322e22a937cb.png
  public/lovable-uploads/28a4d848-139a-4995-89ba-322e22a937cb.webp
  public/lovable-uploads/3837753b-0119-4619-bce0-230342fc8b64.png
  public/lovable-uploads/3837753b-0119-4619-bce0-230342fc8b64.webp
  public/lovable-uploads/4c0c723f-8662-4a59-999b-4a0fa66dbb19.png
  public/lovable-uploads/4c0c723f-8662-4a59-999b-4a0fa66dbb19.webp
  public/lovable-uploads/aa7b6f31-c124-40a6-9461-9aaf71c122d3.png
  public/lovable-uploads/aa7b6f31-c124-40a6-9461-9aaf71c122d3.webp
  public/lovable-uploads/f6027e6b-df90-4f04-8e8f-0bfb39dfe7a6.png
  public/lovable-uploads/f6027e6b-df90-4f04-8e8f-0bfb39dfe7a6.webp
  vite.config.ts
Labels: config, dependencies

chore: optimize vite config with improved dependency bundling and remove unused uploads
  .github/workflows/ci.yml
Labels: config

feat: add PWA assets and optimize web vitals with async resource loading
  package-lock.json
  package.json
  public/apple-touch-icon.png
  public/assets/images/apple-touch-icon-180x180.png
  public/assets/images/apple-touch-icon-180x180.webp
  public/assets/images/maskable-icon-192x192.png
  public/assets/images/maskable-icon-192x192.webp
  public/assets/images/maskable-icon-512x512.png
  public/assets/images/maskable-icon-512x512.webp
  public/manifest.json
  scripts/generate-pwa-assets.mjs
  src/index.css
  src/main.tsx
  vite.config.ts
Labels: ui, config, dependencies

feat: setup Vitest testing framework with React Testing Library integration
  package-lock.json
  package.json
  src/App.test.tsx
  src/test/setup.ts
  src/utils/__tests__/example.test.ts
  vitest.config.ts
Labels: config, dependencies

.github/labeler.yml:

documentation:
  - README.md
  - '**/*.md'
  - docs/**/*

ui:
  - src/components/**/*
  - src/**/*.css
  - src/App.css
  - src/index.css

pages:
  - src/pages/**/*

data:
  - src/data/**/*

hooks:
  - src/hooks/**/*

config:
  - '*.config.js'
  - '*.config.ts'
  - tsconfig*.json
  - .github/**/*
  - package.json
  - package-lock.json

dependencies:
  - package.json
  - package-lock.json
  - bun.lockb
